/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2.8rem;
  padding: 10px;
  margin-top: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1120px;
  }
}

.column {
  width: 100%;
  padding: 0 15px 15px 15px;
}
@media screen and (min-width: 768px) {
  .column--md50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .column--md33 {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
}
@media screen and (min-width: 768px) {
  .column--md25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 1240px) {
  .column--lg50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .column--lg33 {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
}
@media screen and (min-width: 1240px) {
  .column--lg25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
}

.blackout {
  background-color: rgba(0, 0, 0, 0.55);
}

.nav {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav__item {
  font-size: 2rem;
  font-style: italic;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: inline-block;
  }
}
.nav__link {
  display: flex;
  color: #eff0f3;
  padding: 10px;
  border-radius: 0.4rem;
  transition-duration: 0.5s;
}
.nav__link:hover {
  background-color: #74030e;
}

.heading--h1 {
  color: #eff0f3;
  font-size: 6rem;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .heading--h1 {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1240px) {
  .heading--h1 {
    font-size: 10rem;
  }
}
.heading--h2 {
  font-size: 5rem;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 200px;
  color: #eff0f3;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0.4rem;
  padding: 1.5rem;
  transition-duration: 0.5s;
}
.btn--menu {
  background-color: transparent;
  border: 1px solid #eff0f3;
}
.btn--menu:hover {
  background-color: #eff0f3;
  color: #132601;
}
.btn--green {
  background-color: #132601;
}
.btn--green:hover {
  background-color: #0d1b01;
}
.btn--outline {
  background-color: transparent;
  border: 1px solid #eff0f3;
  font-family: inherit;
}
.btn--outline:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn--circle {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  padding: 0;
}

.site-header {
  background: url(../../assets/img/bg-header.webp) center/cover fixed;
  height: 100vh;
  position: relative;
}
.site-header__blackout {
  position: absolute;
  height: 100%;
  width: 100%;
}
.site-header__nav {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
}
.site-header__h1 {
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
}
.site-header__button {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.site-section {
  min-height: 70vh;
  padding-top: 30px;
}
.site-section--bg-color {
  background-color: #3a3429;
}

.text-color-white {
  color: #eff0f3;
}

/*# sourceMappingURL=main.css.map */
