@use '../01-settings/' as *;

@mixin small {
  @media screen and (min-width: $bp-sm){
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $bp-md){
    @content;
  }
}

@mixin large {
  @media screen and (min-width: $bp-lg){
    @content;
  }
}

@mixin flexJustify {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

