@use '../01-settings/' as *;
@use '../02-tools/' as *;

.fa-solid {
  display: block;
  position: absolute;
  color: $color-white;
  font-size: 2.5rem;
  z-index: 2;
  cursor: pointer;

  

}

.fa-chevron-up {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.517);
  padding: 10px 10px;
  font-size: 3rem;
  border-radius: 8px;
}
