@use '../01-settings/' as *;
@use '../02-tools/' as *;

.fa-solid {
  display: block;
  position: absolute;
  color: $color-white;
  left: 20px;
  top: 20px;
  font-size: 2.5rem;
  z-index: 1;
  cursor: pointer;

  @include medium {
    display: none;
  }
}
