@use '../01-settings/' as *;
@use '../02-tools/' as *;

.logo {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 5px 5px;
  color: white;
  border-bottom: 1px solid $color-white;
  font-size: 3.5rem;
  letter-spacing: 6px;
  z-index: 1;
  cursor: pointer;
  transform: scale(0) translateZ(0);
  transition: transform 1s ease;

  &::first-letter {
    color: orange;
  }
  
  @include medium {
    display: none;
  }
}