@use '../01-settings/' as *;
@use '../02-tools/' as *;

.nav {

  &__item {
    font-size: 2rem;
    font-style: italic;
    display: none;
    position: relative;
    
    @include medium {
      display: inline-block;
    }

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: $color-orange;
      position: absolute;
      top: 37%;
      left: -15%;
      transform: rotate(45deg);
    }
    
    &:hover {
      color: $color-orange;
      
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $color-orange;
        animation: underlines .2s linear forwards; 
      }
    }
  }

  &__link {
    display: flex;
    color: $color-white;
    padding: $grid-base;
    border-radius: .4rem;
    transition-duration: .5s;

    @include large {

      &:hover {
        color: $color-orange;
        
      }
    }
  }
}