@use '../01-settings/' as *;
@use '../02-tools/' as *;


.nav {
  // background-color: rgba(0, 0, 0, .2);

  &__item {
    font-size: 2rem;
    font-style: italic;
    display: none;
    position: relative;
    
    @include medium {
      display: inline-block;
    }
    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: orange;
      position: absolute;
      top: 37%;
      left: -15%;
      transform: rotate(45deg);
    }
  }

  &__link {
    display: flex;
    color: $color-white;
    padding: $grid-base;
    border-radius: .4rem;
    transition-duration: .5s;

    &:hover {
      color: orange;
    }
  }
}