@use '../01-settings/' as *;

.text-color-white {
  color: $color-white;
}
.text-color-green {
  color: green;
}

.text-color-orange {
  color: rgb(224, 165, 0);
}
.text-font-large {
  font-size: 2.5rem;
}
