@use '../01-settings/' as *;

.text-color-white {
  color: $color-white;
}
.text-color-green {
  color: green;
}

.text-color-blue {
  color: rgba(0, 0, 0, 0.76);
}
.text-font-large {
  font-size: 2.5rem;
}