$color-white: #eff0f3;
$color-red: #74030e;
$color-green: #132601; 
$color-bg-section: radial-gradient(circle, rgb(159, 126, 159) 80%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 44%);
$color-bg-footer: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(108,124,183,1) 14%);

$font-base: 10px;

$grid-base: $font-base;

$gutter: 1.5 * $grid-base;

$bp-md: 768px;

$bp-lg: 1240px;