
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes underlines {
  to {
    width: 100%;
  }
}

@keyframes cursorAnimate {
  50% {border-color: transparent;}
}

@keyframes typing {
  from {
    width: 0;
  }
}

