@use '../01-settings/' as *;
@use '../02-tools/' as *;

.list {
  font-size: 2rem;
  font-style: italic;
  list-style: none;
  color: $color-gray;

  &__el {
    transition: color .5s;
    box-shadow: 0px 0px 10px 0px #fff;
    min-width: 200px;
    max-width: 230px;
    padding: 10px;
    line-height: 25px;
    letter-spacing: 1px;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 2px 10px 2px 0;
      background-color: $color-orange;
      transform: rotate(45deg);
      
    }
    @include large {
      &:hover {
        color: $color-orange;
      }
    }
  }

  &--margin {
    margin: 10px;
  }

  &--shadow {
    box-shadow: 0px 0px 5px 0px $color-orange;
    padding: 10px;
  }

  &--flex {
    @include flexJustify;
  }
}